@charset "utf-8";
body {
	margin: 0px;
	font-family: Verdana;
	font-size: 13px;
	color: #F9E8C8;
	background-color: #000;
	line-height: 18px;
}
a, a:link, a:active, a:visited {
	color: #09C;
}
a:hover {
	color: #F99;
	text-decoration: none;
}


img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
div.main {
	width: 726px;
	margin-right: auto;
	margin-left: auto;
}
div.header {
	height: 47px;
	position: relative;
}
div.header a, div.header a:visited , div.header a:active, div.header a:link{
	color: #FFF0BD;
	text-decoration: none;
}
div.header a:hover {
	text-decoration: none;
	color: #FF0;
}

div.header h6 {
	font-size: 12px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff0bd;
	position: absolute;
	top: 23px;
	left: 0px;
	text-align: right;
	width: 720px;
}
div.content {
	background-image: url(../images/page_bg.jpg);
	background-repeat: repeat-y;
	background-position: center;
	padding: 25px;
}
div.content P {
	margin-top: 0px;
	margin-bottom: 15px;
}

div.content .img_step {
	text-align: center;
	margin-bottom: 10px;
}
div.content .text{
	background-color: #fff3e1;
	color: #333;
	border: 3px solid #8b4a0b;
	width: 570px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-right: 25px;
	padding-bottom: 20px;
	padding-left: 25px;
}

div.content .text h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 15px;
	color: #FC3;
	font-size: 18px;
	line-height: 34px;
	background-image: url(../images/main/titile_bg.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	margin-right: -20px;
	margin-left: -20px;
	letter-spacing: 1px;
}
div.content .text h2 {
	font-size: 13px;
	color: #333;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 20px;
}
div.content .text div.status {
	text-align: center;
	padding: 5px;
	background-color: #FFCBAC;
	margin-bottom: 15px;
	border: 1px solid #C66;
	margin-top: 10px;
}
div.content .text span  {
	font-weight: bold;
	color: #900;
	padding-right: 3px;
	padding-left: 3px;
}
div.content .text p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
div.content .text p.list_1 {
	text-indent: -30px;
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.content .text ol, div.content .text ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
div.content .text div.select {
	background-color: #FFDB97;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	line-height: 24px;
	font-weight: bold;
	color: #630;
}
div.content .text div.select th {
	text-align: right;
	color: #333;
	height: 24px;
	line-height: 26px;
}
div.content .text div.select td {
	text-align: left;
	padding-left: 10px;
	color: #600;
	font-weight: bold;
	line-height: 24px;
	height: 26px;
}
div.content .text div.select2 {
	margin-bottom: 5px;
}



div.content .text div.select2 th{
	color: #600;
	font-weight: bold;
	line-height: 22px;
	text-align: left;
}
div.content .text div.select2 select {
	font-family: Verdana;
	font-size: 12px;
}
div.content .text .note {
	margin-top: 15px;
	font-size: 12px;
}



div.content table.notice {
	width: 92%;
	margin-right: auto;
	margin-left: auto;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #96452E;
}

div.content table.notice th {
	background-color: #823D28;
	color: #FFF;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 13px;
}
div.content table.notice td {
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #96452E;
	padding-top: 6px;
	padding-bottom: 6px;
}
div.content table.notice td.subject {
	text-align: left;
}
div.content table.notice td.subject a, div.content table.notice td.subject a:visited {
	color: #FFC;
	text-decoration: none;
	display: block;
}
div.content table.notice td.subject a:hover {
	color: #FC0;
	text-decoration: none;
}
div.content table.notice span  {
	color: #FFF;
	font-size: 12px;
	line-height: 18px;
	margin-right: 6px;
	display: inline-block;
	width: 42px;
}
div.content table.notice span.impo {
	background-color: #F00;
}
div.content table.notice span.sysm {
	background-color: #906;
}
div.content table.notice span.upda {
	background-color: #096;
}
div.content table.notice span.evet {
	background-color: #C60;
}
div.content table.notice th.subject {
	text-align: left;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 15px;
	color: #FF0;
}
div.content table.notice td.news {
	text-align: left;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	padding-top: 15px;
	padding-right: 26px;
	padding-bottom: 35px;
	padding-left: 26px;
	border-bottom-color: #96452E;
	color: #333;
	background-color: #F1DFD1;
}
div.content table.notice td.news p {
	margin-bottom: 0px;
	margin-top: 12px;
}
div.content .btn , div.content .btn_2{
	text-align: center;
	padding-top: 20px;
}
div.content .btn_2 a, div.content .btn_2 a:visited {
	font-weight: bold;
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
	background-image: url(../images/btn/btn.jpg);
	background-repeat: repeat-x;
	background-position: center;
	line-height: 28px;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid #974A04;
}
div.content .btn_2 a:hover {
	color: #600;
	text-decoration: none;
	background-image: url(../images/btn/btn02.jpg);
	background-repeat: repeat-x;
	background-position: center;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid #A27306;
}




div.content_end {
	background-image: url(../images/page_bottom.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 24px;
}

div.page {
	FONT-SIZE: 12px;
	COLOR: #CB6F54;
	PADDING-TOP: 20px;
	TEXT-ALIGN: center;
	line-height: normal;
	font-family: Verdana;
}
div.page A {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	COLOR: #CB6F54;
	MARGIN-RIGHT: 3px;
	PADDING-TOP: 2px;
	TEXT-DECORATION: none;
	border: 1px solid #CB6F54;
}
div.page  A:hover,  div.page A:active {
	COLOR: #FFF;
	BACKGROUND-COLOR: #96452E;
	border: 1px solid #D58A75;
}
div.page SPAN.current {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	COLOR: #FFF;
	MARGIN-RIGHT: 3px;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #96452E;
	border: 1px solid #630;
}
div.page SPAN.disabled {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	COLOR: #444;
	MARGIN-RIGHT: 3px;
	PADDING-TOP: 2px;
	border: 1px solid #444;
}
div.content .guide   {
	line-height: 20px;
}
div.content .guide th {
	text-align: left;
}

div.content .guide td img {
	margin-bottom: 0px;
}
div.content .guide td p.p2 {
	margin-top: 5px;
	margin-bottom: 0px;
	line-height: 18px;
	text-indent: 26px;
	padding-top: 0px;
	padding-bottom: 0px;
}


div.content .guide img{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
div.content .guide h1 {
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
	line-height: 26px;
	color: #f2ce95;
	border: 1px solid #714417;
	padding-right: 4px;
	padding-left: 4px;
	letter-spacing: 1px;
	background-image: url(../images/main/titile_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 26px;
}
div.content .guide p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
div.content ol {
	margin-top: 0px;
	margin-bottom: 10px;
}
div.content .service {
	padding-right: 5px;
	padding-left: 5px;
	line-height: 20px;
}

div.content .service h1 {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 26px;
	color: #f2ce95;
	border: 1px solid #714417;
	padding-right: 4px;
	padding-left: 4px;
	letter-spacing: 1px;
	background-color: #822B00;
	background-image: url(../images/main/titile_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
div.content .service h2 {
	text-align: center;
	color: #FC0;
	margin-top: 0px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #F90;
	font-size: 20px;
}

div.content .service p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 20px;
	margin-left: 11px;
}
div.content .service ol {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-left: 32px;
}
hr.line {
	border-top-width: 2px;
	border-top-style: dashed;
	border-top-color: #630;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 25px;
	margin-bottom: 25px;
}
