<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--活動時間起訖-->
    <add key="EventBeginDate" value="2012/05/17 10:30:00 " />
    <add key="EventEndDate" value="2100/12/31 00:00:00 " />

    <!--IsTest 1:formal;0:deduct 1 point during test;2:no cost during test-->
    <add key="IsTest" value="1"/>

    <!--測試機IP-->
    <!--<add key="Md5WebIP" value="10.100.1.7"/>-->
    <!--正式機IP-->
    <add key="Md5WebIP" value="10.100.1.141"/>
    <add key="ThirdPartyID" value="AliasProvider00004"/>
    <add key="Key" value="G4LWFvniSFact4sd7Q15dfP0T6D5"/>
    <!--公告ID-->
    <add key="PID" value="436"/>
    <!--官網首頁-->
    <add key="HomeUrl" value="http://tw.beanfun.com/GT/index.aspx"/>
    
    <!--<add key="PauseEventText" value="系統維護中，開放時間詳見官網公告。"/>-->
  </appSettings>
  <connectionStrings/>
  <system.web>
  </system.web>
</configuration>
